/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

router-outlet { display: none; }

.cf:before, .cf:after { content: " "; /* 1 */ display: table; /* 2 */ }

.cf:after { clear: both; }

.cf { *zoom: 1; }

@font-face { font-family: 'geomanistbold'; src: url("../font/geomanist-bold-webfont.eot"); }
@font-face { font-family: 'geomanistbold'; src: url("../font/geomanist-bold-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'geomanistbook'; src: url("../font/geomanist-book-webfont.eot"); }
@font-face { font-family: 'geomanistbook'; src: url("../font/geomanist-book-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'geomanistlight'; src: url("../font/geomanist-light-webfont.eot"); }
@font-face { font-family: 'geomanistlight'; src: url("../font/geomanist-light-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "FontAwesome"; font-weight: normal; font-display: auto; font-style: normal; src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2") format("woff2"); }
/* 768px; */
/* 1024px */
/* 1280px */
html, body { -webkit-font-smoothing: antialiased; background-color: #ffffff; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 100%; font-family: "Geomanist", sans-serif; font-size: 100%; line-height: 100%; color: #514e4d; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

img { width: 100%; height: 100%; }

.page { display: -webkit-box; display: -ms-flexbox; display: flex; overflow: hidden; }

.wrapper { -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; margin: 0 auto; margin-left: 10px; margin-right: 10px; min-height: 100vh; }
@media screen and (min-width: 48em) { .wrapper { margin-left: 20px; margin-right: 20px; } }
@media screen and (min-width: 64em) { .wrapper { margin: 0; max-width: 1000px; } }
@media screen and (min-width: 80em) { .wrapper { max-width: 1070px; } }

.mobile-menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 0; -ms-flex: 0 1 auto; flex: 0 1 auto; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; padding: 30px 0; z-index: 100000; }
.mobile-menu__button { background-image: url(../images/mobile-menu.png); background-repeat: no-repeat; background-position: 0 0; background-size: 100%; -webkit-box-flex: 0; -ms-flex: 0 1 89px; flex: 0 1 89px; height: 49px; }
.mobile-menu__button--close { background-image: url(../images/mobile-menu-close.png); }
@media screen and (min-width: 48em) { .mobile-menu { padding: 40px 0; } }
@media screen and (min-width: 64em) { .mobile-menu { display: none; } }

.menu { display: none; position: absolute; top: 0; left: 0; background-color: #514e4d; width: 100%; height: 100%; z-index: 9999; }
.menu--show { display: -webkit-box; display: -ms-flexbox; display: flex; }
@media screen and (min-width: 64em) { .menu { background-color: transparent; display: -webkit-box; display: -ms-flexbox; display: flex; height: auto; padding: 30px 30px 0 30px; position: relative; width: auto; } }
.menu__links { -ms-flex-line-pack: end; align-content: flex-end; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding-bottom: 30px; }
@media screen and (min-width: 48em) { .menu__links { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }
@media screen and (min-width: 64em) { .menu__links { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; } }
.menu__link-item { -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-bottom: 1px solid rgba(255, 255, 255, 0.2); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 0; -ms-flex: 0 1 auto; flex: 0 1 auto; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 15px 0; width: 85vw; }
.menu__link-item:last-of-type { border-bottom: none; padding: 15px 0 0 0; }
@media screen and (min-width: 48em) { .menu__link-item { padding: 20px 0; width: 65vw; }
  .menu__link-item:last-of-type { padding: 20px 0 0 0; } }
.menu__link-item__text { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; }
.menu__link-item a { color: #ffffff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-decoration: none; position: relative; padding: 21px 20px 19px 20px; }
.menu__link-item i { font-size: 24px; margin-top: -5px; }
.menu__link-item .email-icon { position: relative; top: 12px; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 0; -ms-flex: 0; flex: 0; }
@media screen and (min-width: 64em) { .menu__link-item .email-icon { top: 0; } }
.menu__link-item p, .menu__link-item a { text-align: right; font-size: 19px; line-height: 19px; margin-bottom: 0; }
@media screen and (min-width: 64em) { .menu__link-item p, .menu__link-item a { display: none; } }
.menu__link-item p .menu-subtext, .menu__link-item a .menu-subtext { font-size: 15px; font-family: geomanistbold; font-weight: normal; line-height: 15px; padding-top: 5px; }
@media screen and (min-width: 64em) { .menu__link-item { border-bottom: 1px solid rgba(81, 78, 77, 0.2); -webkit-box-sizing: border-box; box-sizing: border-box; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; height: 120px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 10px; width: 120px; }
  .menu__link-item:last-of-type { border-bottom: none; }
  .menu__link-item a { -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #9e9896; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; font-size: 28px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; text-decoration: none; -webkit-transition: background-image ease-in-out 1s !important; transition: background-image ease-in-out 1s !important; }
  .menu__link-item a:hover { background-image: url(../images/bg-link.svg); color: rgba(245, 75, 7, 0.75); text-decoration: none; }
  .menu__link-item a:focus { color: rgba(245, 75, 7, 0.75); text-decoration: none; } }

.content { border-top: 5px solid rgba(245, 75, 7, 0.75); background-color: rgba(158, 152, 150, 0.05); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-flex: 2; -ms-flex: 2 1 auto; flex: 2 1 auto; padding: 0 20px; }
@media screen and (min-width: 64em) { .content { max-width: 800px; padding: 0 60px; } }
.content__title { -webkit-box-flex: 0; -ms-flex: 0 1 auto; flex: 0 1 auto; max-width: 366px; margin-bottom: 34px; }
@media screen and (min-width: 48em) { .content__title { max-width: 450px; margin-bottom: 38px; } }
@media screen and (min-width: 64em) { .content__title { max-width: 500px; margin-top: 55px; } }
@media screen and (min-width: 64em) and (min-height: 801px) { .content__title { margin-top: 100px; } }
.content__description { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; }
.content__footer { -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; margin-bottom: 20px; margin-top: 60px; max-width: 160px; }
@media screen and (min-width: 48em) { .content__footer { max-width: 100%; } }
@media screen and (min-width: 64em) { .content__footer { margin-top: 100px; } }

.decorations { -webkit-box-flex: 1; -ms-flex: 1 0 auto; flex: 1 0 auto; position: relative; }
.decorations__A { background-image: url(../images/bg-decoration-A.svg); background-repeat: no-repeat; background-position-y: 0; left: -10px; position: absolute; top: 0; height: 120px; width: 120px; }
@media screen and (min-width: 48em) { .decorations__A { left: -20px; } }
@media screen and (min-width: 64em) { .decorations__A { left: 0; } }
.decorations__B { background-image: url(../images/bg-decoration-B_sm.svg); background-repeat: no-repeat; background-position-y: 0; bottom: 0; position: absolute; left: -120px; height: 80px; width: 120px; }
@media screen and (min-width: 48em) { .decorations__B { background-image: url(../images/bg-decoration-B.svg); background-position-y: -100px; background-position-x: -200px; bottom: -100px; left: -120px; height: 200px; width: 100px; } }
@media screen and (min-width: 48em) and (min-height: 900px) { .decorations__B { background-image: url(../images/bg-decoration-B.svg); background-position-y: 0; background-position-x: 0; bottom: 0; left: -220px; height: 200px; width: 300px; } }
@media screen and (min-width: 64em) { .decorations__B { background-position-x: -100px; background-position-y: -100px; bottom: -100px; left: -100px; } }
@media screen and (min-width: 64em) and (min-height: 801px) { .decorations__B { background-position-x: 0px; background-position-y: 0px; bottom: 0px; } }
@media screen and (min-width: 1400px) { .decorations__C { background-image: url(../images/bg-decoration-C.svg); background-repeat: no-repeat; background-position-y: 0; top: 0; position: absolute; right: 0; height: 300px; width: 200px; } }

.overflow { overflow: hidden; }

h1 { font-family: geomanistbold; font-weight: normal; font-size: 26px; font-size: 1.625rem; line-height: 41.6px; line-height: 2.6rem; }
@media screen and (min-width: 48em) { h1 { font-size: 34px; font-size: 2.125rem; line-height: 61.2px; line-height: 3.825rem; } }
@media screen and (min-width: 64em) { h1 { font-size: 38px; font-size: 2.375rem; line-height: 61px; line-height: 3.8125rem; } }

p, a { font-size: 17px; font-size: 1.0625rem; line-height: 34px; line-height: 2.125rem; font-family: geomanistlight; font-weight: normal; margin-bottom: 1.18125rem; }
p:last-of-type, a:last-of-type { margin-bottom: 0; }
@media screen and (min-width: 48em) { p, a { font-size: 19px; font-size: 1.1875rem; line-height: 38px; line-height: 2.375rem; } }
@media screen and (min-width: 64em) { p, a { font-size: 21px; font-size: 1.3125rem; line-height: 37.8px; line-height: 2.3625rem; } }

a { color: rgba(245, 75, 7, 0.75); text-decoration: none; -webkit-transition: -webkit-text-decoration ease-in-out 0.1s; transition: -webkit-text-decoration ease-in-out 0.1s; transition: text-decoration ease-in-out 0.1s; transition: text-decoration ease-in-out 0.1s, -webkit-text-decoration ease-in-out 0.1s; }
a:focus { text-decoration: underline; }
a:hover { text-decoration: underline; }
a:active { color: #c33c06; }

.footer-text { font-size: 15px; font-size: 0.9375rem; line-height: 27px; line-height: 1.6875rem; color: #9e9896; font-family: geomanistbook; font-weight: normal; }

.highlight { color: rgba(245, 75, 7, 0.75); }
