@font-face {
    font-family: 'geomanistbold';
    src: url('../font/geomanist-bold-webfont.eot');
}

@font-face {
    font-family: 'geomanistbold';
    src: url('../font/geomanist-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistbook';
    src: url('../font/geomanist-book-webfont.eot');
}

@font-face {
    font-family: 'geomanistbook';
    src: url('../font/geomanist-book-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistlight';
    src: url('../font/geomanist-light-webfont.eot');
}

@font-face {
    font-family: 'geomanistlight';
    src: url('../font/geomanist-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-display: auto;
    font-style: normal;
    src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2") format("woff2");
  }