html, body {
    -webkit-font-smoothing: antialiased;
    background-color: $white;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: $font-stack;
    font-size: 100%;
    line-height: 100%;
    color: $dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-break: break-word;
}

img {
    width: 100%;
    height: 100%;
}

/********/

// Standard Spacing Units

.pad8 {
    padding-bottom: 8px;
}

.pad12 {
    padding-bottom: 12px;
}

.pad16 {
    padding-bottom: 16px;
}

.pad32 {
    padding-bottom: 32px;
}

.pad48 {
    padding-bottom: 48px;
}

.pad64 {
    padding-bottom: 64px;
}

.pad80 {
    padding-bottom: 80px;
}

.pad96 {
    padding-bottom: 96px;
}

.pad64 {
    padding-bottom: 64px;
}

.pad160__t {
    padding-top: 160px;
}

.pad160 {
    padding-bottom: 160px;
}

.pad240__t {
    padding-top: 240px;
}

.pad240 {
    padding-bottom: 240px;
}

/********/

.nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    @media screen and (min-width: 1200px) {
        justify-content: flex-end;
    }     
}

.nav-link {
    flex: 1 1 50%;
    @media screen and (min-width: 768px) {
        flex: 1 1 auto;
        margin-right: 40px;
        &:last-of-type {
            margin-right: 0;
        }
    }   
    @media screen and (min-width: 1200px) {
        flex: 0 1 auto;      
    }     
    padding: 0;
}

/********/

.booking-info-container {
    background-color: $reallyDark;
    padding: 12px 20px;
}

.brand-name {
    padding-bottom: 20px;
    @media screen and (min-width: $med) {
        padding-bottom: 0;      
    }
}

.navigation-container {
    padding-top: 20px;

    @media screen and (min-width: $med) {
        padding-top: 40px;
    }

    @media screen and (min-width: $lg) {
        padding-top: 60px;
    }

    @media screen and (min-width: $xl) {
        padding-top: 80px;
    }
}

.hero-content {
    padding-top: 80px;
    padding-bottom: 80px;

    @media screen and (min-width: $med) {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    @media screen and (min-width: $lg) {
        padding-top: 128px;
        padding-bottom: 160px;
    }

    @media screen and (min-width: $xl) {
        padding-top: 160px;
        padding-bottom: 240px;
    }
}

.home-content {
    padding-top: 40px;
    padding-bottom: 40px;
    &:first-of-type {
        padding-top: 80px;
    }
    &:nth-of-type(2) {
        padding-bottom: 80px;
    }

    @media screen and (min-width: $med) {
        padding-top: 56px;
        padding-bottom: 56px;
        &:first-of-type {
            padding-top: 112px;
        }
        &:nth-of-type(2) {
            padding-bottom: 112px;
        }
    }

    @media screen and (min-width: $lg) {
        padding-top: 80px;        
        padding-bottom: 80px;
        &:first-of-type {
            padding-top: 160px;
        }
        &:nth-of-type(2) {
            padding-bottom: 160px;
        }        
    }  
}

.quote {
    border-top: 1px solid $light;
    border-bottom: 1px solid $light;
    padding: 32px 0 32px 0;

    @media screen and (min-width: $med) {
        padding: 64px 0 64px 0;
    }

    @media screen and (min-width: $lg) {
        padding: 96px 0 96px 0;
    }   
}

footer {

    border-top: 1px solid $light;    
    margin-top: 56px;
    padding: 80px 0;

    @media screen and (min-width: $med) {
        margin-top: 64px;
        padding: 112px 0;
    }

    @media screen and (min-width: $lg) {
        margin-top: 80px;
        padding: 160px 0;
    }

    @media screen and (min-width: $xl) {
        margin-top: 96px;
        padding: 216px 0;
    }    
}

.nomargin {
    margin-top: 0;
}

.noborder {
    border: none;
}

.single-heading {
    padding-top: 80px;
    padding-bottom: 32px;

    @media screen and (min-width: $med) {
        padding-top: 96px;
        padding-bottom: 48px;
    }

    @media screen and (min-width: $lg) {
        padding-top: 120px;
        padding-bottom: 64px;
    }

    @media screen and (min-width: $xl) {
        padding-top: 160px;
        padding-bottom: 64px;
    }
}

.leading-paragraph {
    padding-bottom: 32px;

    @media screen and (min-width: $med) {
        padding-bottom: 48px;
    }

    @media screen and (min-width: $lg) {
        padding-bottom: 64px;
    }    
}

.point-of-interest {
    border-top: 1px solid $light;
    border-bottom: 1px solid $light;
    margin: 32px 0;
    padding: 20px 0;

    @media screen and (min-width: $med) {
        margin: 48px 0;
        padding: 26px 0;
    }

    @media screen and (min-width: $lg) {
        margin: 64px 0;
        padding: 32px 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
    }

    &__list-item {
        flex: 1 1 100;
        &:nth-of-type(odd) {
            flex: 1 1 100%;
        }
        @media screen and (min-width: 1400px) {
            flex: 1 1 85%;
            &:nth-of-type(odd) {
                flex: 1 1 15%;
            }
        }
    }

}

.content-spacer {
    &__last-parag {
        margin-bottom: 40px;

        @media screen and (min-width: $med) {
            margin-bottom: 80px;
        }
    
        @media screen and (min-width: $lg) {
            margin-bottom: 96px;
        }         
    }
}

.hero-background {
    background: $accent;
    background: -moz-linear-gradient(45deg, $accent 0%, $accent2 100%);
    background: -webkit-linear-gradient(45deg, $accent 0%,$accent2 100%);
    background: linear-gradient(45deg, $accent 0%,$accent2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$accent', endColorstr='$accent2',GradientType=1 );
}

.callout-background {
    background: $primary;
    background: -moz-linear-gradient(45deg, $primary2 0%, $primary 100%);
    background: -webkit-linear-gradient(45deg, $primary2 0%,$primary 100%);
    background: linear-gradient(45deg, $primary2 0%,$primary 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary2', endColorstr='$primary',GradientType=1 );    
}

.callout-heading {
    padding: 80px 0 16px 0;

    @media screen and (min-width: $med) {
        padding: 96px 0 28px 0;
    }

    @media screen and (min-width: $lg) {
        padding: 112px 0 32px 0;
    }    
}

.callout-list {
    border-bottom: 1px solid rgba($white,0.25);
    padding: 32px 0;

    @media screen and (min-width: $lg) {
        padding: 48px 0;
    }
    
    &:last-of-type {
        border-bottom: none;
        padding-bottom: 80px;

        @media screen and (min-width: $med) {
            padding-bottom: 96px;
        }
    
        @media screen and (min-width: $lg) {
            padding-bottom: 120px;
        }
    }
}