html, body {
    -webkit-font-smoothing: antialiased;
    background-color: $light;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: $font-stack;
    font-size: 100%;
    line-height: 100%;
    color: $dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-break: break-word;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1366px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 16px;    

    @media screen and (min-width: $med) {
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 32px;
    }

    @media screen and (min-width: $lg) {
        grid-template-columns: repeat(12, 1fr);
    }
}

.hero {
    background: $primary;
    background: url('../img/ampersand_bg.svg') right top no-repeat, -moz-linear-gradient(45deg, $primary 0%, $primary2 100%);
    background: url('../img/ampersand_bg.svg') right top no-repeat, -webkit-linear-gradient(45deg, $primary 0%,$primary2 100%);
    background: url('../img/ampersand_bg.svg') right top no-repeat, linear-gradient(45deg, $primary 0%,$primary2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary', endColorstr='$primary2',GradientType=1 );
 
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto;

    height: 95%;
    @media screen and (min-width: $med) {
        height: 660px;
    }
    @media screen and (min-width: $lg) {
        height: 770px;
    }    

    &__navigation {

        align-items: center;
        display: flex;
        
        flex-direction: column;
        @media screen and (min-width: $med) {
            flex-direction: row;
        }

        padding: 16px;
        @media screen and (min-width: $med) {
            padding: 32px;
        }
        @media screen and (min-width: $lg) {
            padding: 60px;
        }         

        @media screen and (min-width: $med) {
            flex-wrap: wrap;
        }
        @media screen and (min-width: $lg) {
            flex-wrap: nowrap;
        }          

        h2 {
            flex: 1 0 auto;
            @media screen and (min-width: $med) {
                flex: 1 0 100%;
            }
            @media screen and (min-width: $lg) {
                flex: 1 0 auto;
            }

            margin-bottom: 16px;
            @media screen and (min-width: $med) {
                margin-bottom: 32px;
            }
            @media screen and (min-width: $lg) {
                margin-bottom: 0;
            }                         
            
            text-align: center;
            @media screen and (min-width: $lg) {
                text-align: left;
            }            
        }

        nav {
            align-items: center;
            display: flex;
            flex: 1 1 100%;         

            flex-direction: column;
            @media screen and (min-width: $med) {
                flex-direction: row;
            }            
            
            justify-content: center;
            @media screen and (min-width: $lg) {
                justify-content: flex-end;
            }

            width: 100%;

            a {
                @media screen and (min-width: $med) {
                    margin-right: 40px;
                }

                text-decoration: none;
                &:last-of-type {
                    margin: 0;
                }
                &:hover {
                    color: $light;
                    text-decoration: underline;
                }
            }
        }
    }

    &__content {
        align-self: flex-end;
        @media screen and (min-width: $med) {
            align-self: center;
        }
        
        padding-bottom: 10%;
        @media screen and (min-height: 569px) and (max-width: 767px) {
            padding-bottom: 20%;
        }
        @media screen and (min-height: 736px) and (max-width: 767px)  {
            padding-bottom: 30%;
        }
        @media screen and (min-height: 768px) and (min-width: 767px)  {
            padding-bottom: 0;
            align-self: center;
        }              
    }

}

.full-width {
    grid-column: 1 / span 4;
    @media screen and (min-width: $med) {
        grid-column: 1 / span 6;
    }
    @media screen and (min-width: $lg) {
        grid-column: 1 / span 12;
    }

    padding: 0 16px;
    @media screen and (min-width: $med) {
        padding: 0 32px;
    }
    @media screen and (min-width: $xl) {
        padding: 0 64px;
    }
    @media screen and (min-width: 1500px) {
        padding: 0;
    }       
}

.align-button {
    align-self: end;
}

.intro {
    grid-column: 1 / 5;
    @media screen and (min-width: $med) {
        grid-column: 2 / 6;     
    }
    @media screen and (min-width: $lg) {
        grid-column: 3 / 11;     
    }    

    grid-row: auto;

    padding: 80px 16px;
    @media screen and (min-width: $med) {
        padding: 120px 0;       
    }
    @media screen and (min-width: $lg) {
        padding: 180px 0;       
    }
}

.service-bg {
    background: transparent;

    border: 1px solid $primary;
    border-left: none;
    border-right: none;
    @media screen and (min-width: $med) {
        border: 1px solid $primary;       
    }

    height: auto;
    margin: 0 auto;
    margin-bottom: 180px;

    padding: 80px 0;
    @media screen and (min-width: $med) {
        padding: 120px 0;       
    }
    @media screen and (min-width: $lg) {
        padding: 180px 0;       
    }

    position: relative;

    width: 100%;
    @media screen and (min-width: $med) {
        width: 90%;       
    }
    @media screen and (min-width: $lg) {
        width: 80%;       
    }

    z-index: 0;

    &::after {
        background-color: rgba($primary,0.05);
        content: '';
        height: 100%;
        
        left: 16px;
        @media screen and (min-width: $med) {
            left: 20px;     
        }
        
        position: absolute;
        
        top: 16px;
        @media screen and (min-width: $med) {
            top: 20px;     
        }

        width: calc(100% - 16px);
        @media screen and (min-width: $med) {
            width: 100%;      
        }

        z-index: -1;
    }
}

.service-articles {
    background: transparent;
    box-sizing: border-box;
    display: grid;
    grid-column: 1 / 5;
    grid-row: auto;

    padding: 0 16px;
    &:first-of-type {
        margin-bottom: 32px;
    }

    z-index: 1;
    
    @media screen and (min-width: $med) {
        grid-column: span 3;
        &:first-of-type {
            padding: 0 0 0 32px;
            margin-bottom: 0;
        }
        &:last-of-type {
            padding: 0 32px 0 0;
        }        
    }

    @media screen and (min-width: $lg) {
        grid-column: span 6;
        &:first-of-type {
            padding: 0 16px 0 60px;
        }
        &:last-of-type {
            padding: 0 60px 0 16px;
        }
    }    
}

.casestudy {
    grid-column: span 12;
    grid-row: auto;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "logo content content"
        "quote quote quote"
        "images images images";

    margin-bottom: 180px;
    
    &__logo {
        grid-area: logo;
        align-self: center;
        justify-self: center;

        img {
            width: auto;
            height: auto;
        } 
    }
    &__content {
        grid-area: content;
    }
    &__quote {
        grid-area: quote;
        margin: 7rem 0 8.75rem 7.1875rem;
        
        box-sizing: border-box;
        position: relative;
        padding: 4.5rem 7.5rem 4.5rem 0;
        
        &::before {
            background-color: #f8f6f9;
            content: '';
            position: absolute;
            width: calc(88% - 1.875rem);
            height: 100%;
            left: calc(10% + 1.25rem);
            top: 20px;
            z-index: -1;
        }
            
        &::after {
            content: "";
            border: 0.1rem solid #866e9e;
            position: absolute;
            width: calc(88% - 2rem);
            height: 100%;
            left: 10%;
            top: 0;
        }

        &-content {
            position: relative;
            z-index: 1;
        }
    }

    &__quote-alt {
        grid-area: quote;
        margin: 7rem 0 8.75rem 7.1875rem;
        
        box-sizing: border-box;
        position: relative;
        padding: 4.5rem 32.5625rem 4.5rem 0;
        
        &::before {
            background-color: #f8f6f9;
            content: '';
            position: absolute;
            width: calc(56% - 1.875rem);
            height: 100%;
            left: calc(10% + 1.25rem);
            top: 20px;
            z-index: -1;
        }
            
        &::after {
            content: "";
            border: 0.1rem solid #866e9e;
            position: absolute;
            width: calc(56% - 2rem);
            height: 100%;
            left: 10%;
            top: 0;
        }

        &-content {
            position: relative;
            z-index: 1;
        }
        &-img {
            position: absolute;
            left: 61.5%;
            top: 12%;
            z-index: 1;
            width: 100%;
            height: 78%;
            max-width: 480px;
        }
    }    

    &__images {
        grid-area: images;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 16px;

        .single {
            grid-column: span 1;
        }

        .double {
            grid-column: span 2;
        }

        * img {
            width: 100%;
            height: auto;
        }
    }
}

.quote-bg {
    &::before
    {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(15% - 2rem);
      height: 70%;
      background-color: #FEFEFE;
      z-index: -1;
    }
}

.tully-bg {
    &::before
    {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(23% - 2rem);
      height: 80%;
      background-color: #FEFEFE;
      z-index: -1;
    }
}

.partners {
    border-top: 1px solid $dark25;
    padding: 11.25rem 0;
}

.partner-heading {
    grid-column: 3 / span 8;
    grid-row: auto;
    padding-bottom: 7rem;
}

.partner {
    grid-column: 2 / span 5;
    &:nth-of-type(even) {
        grid-column: 7 / span 5; 
    }

    grid-row: auto;
    
    &:nth-of-type(1) {
        margin-bottom: 52px;
    }
    &:nth-of-type(2) {
        margin-bottom: 52px;
    }

    padding: 0 40px;
    text-align: center;

    &__subhead {
        margin-bottom: 32px;
    }

    img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin-bottom: 16px;
    }
}

.cta {
    border-top: 1px solid $dark25;

    padding: 80px 16px;
    @media screen and (min-width: $med) {
        padding: 120px 0;       
    }
    @media screen and (min-width: $lg) {
        padding: 180px 0;       
    }

    &__heading {
        grid-column: 1 / 5;
        @media screen and (min-width: $med) {
            grid-column: 2 / 6;     
        }
        @media screen and (min-width: $lg) {
            grid-column: 3 / 11;     
        } 
        grid-row: auto;
        padding-bottom: 20px;
    }
    &__leader {
        grid-column: 1 / 5;
        @media screen and (min-width: $med) {
            grid-column: 2 / 6;     
        }
        @media screen and (min-width: $lg) {
            grid-column: 3 / 12;     
        } 
        grid-row: auto;

        padding-bottom: 20px; 
        @media screen and (min-width: $med) {
            padding-bottom: 32px;       
        }
        @media screen and (min-width: $lg) {
            padding-bottom: 46px;       
        }    
    }
    &__content {
        grid-column: 1 / 5;
        @media screen and (min-width: $med) {
            grid-column: 2 / 6;     
        }
        @media screen and (min-width: $lg) {
            grid-column: 3 / 11;     
        } 
        grid-row: auto;        
    }        
}

footer {
    * h3 {
        margin-bottom: 8px;
        @media screen and (min-width: $med) {
            margin-bottom: 16px;
        }
        @media screen and (min-width: $lg) {
            margin-bottom: 20px;                
        }
    }
    
    * li {
        margin-bottom: 8px;
        @media screen and (min-width: $med) {
            margin-bottom: 16px;
        }
        @media screen and (min-width: $lg) {
            margin-bottom: 20px;                
        }        
    }
    border-top: 1px solid $dark25;
    display: grid;

    // Lay footer on .container
    grid-column: 1 / span 4;
    @media screen and (min-width: $med) {
        grid-column: 1 / span 6;       
    }
    @media screen and (min-width: $lg) {
        grid-column: 1 / span 12;     
    }

    // Footer grid
    grid-template-columns: repeat(4, 1fr);
    @media screen and (min-width: $med) {
        grid-template-columns: repeat(6, 1fr);
    }
    @media screen and (min-width: $lg) {
        grid-template-columns: repeat(12, 1fr);
    }

    grid-template-rows: auto;

    grid-column-gap: 16px;
    @media screen and (min-width: $med) {
        grid-column-gap: 32px;
    }        

    padding: 100px 0 140px 0;

    .f {
        &_online{
            grid-column: 1 / span 4;
            @media screen and (min-width: $med) {
                grid-column: 1 / span 3;
            }
            @media screen and (min-width: $lg) {
                grid-column: 1 / span 3;                
            }

            padding-left: 16px;
            @media screen and (min-width: $med) {
                padding-left: 32px;
            }
            @media screen and (min-width: 1406px) {
                padding: 0;                
            }             
        }
        &_content{
            grid-column: 1 / span 4;
            @media screen and (min-width: $med) {
                grid-column: 4 / span 3;
            }
            @media screen and (min-width: $lg) {
                grid-column: 4 / span 3;                   
            }
            
            padding-left: 16px;
            @media screen and (min-width: $med) {
                padding-left: 32px;
            }
            @media screen and (min-width: $lg) {
                padding: 0;                
            }
        }
        &_contact{
            grid-column: 1 / span 4;
            @media screen and (min-width: $med) {
                grid-column: 1 / span 6;                
            }
            @media screen and (min-width: $lg) {
                grid-column: 7 / span 6;                
            }

            padding-left: 16px;
            @media screen and (min-width: $med) {
                padding-left: 32px;
            }
            @media screen and (min-width: $lg) {
                padding: 0;                
            }            
        }                
    }
}

a.button,.button {
    *zoom: 1;
    background-color: $primary;    
    box-sizing: border-box;
    border: 1px solid transparent;    
    border-radius: calc(56px/2);
    color: $light;        
    display: inline-block;
    font-family: geomanistregular;
    font-weight: normal;

    @include font-size(15px);
    @include line-height(15px);
    @media screen and (min-width: $med) {
        @include font-size(18px);
        @include line-height(18px);
    }

    @media screen and (min-width: $lg) {
        @include font-size(18px);
        @include line-height(18px);        
    }

    letter-spacing: -0.25px;      
    margin-top: 32px;
    outline: none;    
    text-align: center;
    text-decoration: none;    
    text-transform: uppercase;
    transition: all 0.2s ease;

    padding: 14px 32px 14px 32px;
    @media screen and (min-width: $med) {
        padding: 17px 32px 17px 32px;
    }
    @media screen and (min-width: $lg) {
        padding: 19px 32px 19px 32px;
    }

    width: 100%;
    @media screen and (min-width: $med) {
        width: auto;
    }

    vertical-align: middle;    

    &:hover {
        background: $primary2;
        color: $light;
        text-decoration: none;
      }

    &--nav {
        background-color: $light;
        color: $primary;
        margin: 0;

        &:hover {
            border: 1px solid $light;
            background-color: $light50;
            text-decoration: none !important;
        }
    }
}