h1 {
    font-family: geomanistbook;
    font-weight: normal;

    @include font-size(21px);
    @include line-height(30px);

    @media screen and (min-width: $med) {
        @include font-size(21px);
        @include line-height(30px);
    }

    @media screen and (min-width: $lg) {
        @include font-size(21px);
        @include line-height(30px);
    }
}

p {
    @include font-size(17px);
    @include line-height(34px);
    font-family: geomanistlight;
    font-weight: normal;
    margin-bottom: 1.18125rem;

    &:last-of-type {
        margin-bottom: 0;
    }

    @media screen and (min-width: $med) {
        @include font-size(19px);
        @include line-height(38px);
    }    

    @media screen and (min-width: $lg) {
        @include font-size(21px);
        @include line-height(37.8px);
    }
    

}

a {
    @extend p;
    color: $dark;
    font-family: geomanistbook;
    transition: color ease-in-out 0.1s;

    &:focus {
        color: $accent;
    }
    &:hover {
        color: $accent;
    }
    &:active {
        color: $primaryDark;
    }  
}