// Set up baseline type classes and extend with @extend %class-name
%type-defaults {
    //color: $dark;
    font-weight: normal; 
}

.hero-heading {
    @extend %type-defaults;

    @include font-size(48px);
    @include line-height(56px); 

    @media screen and (min-width: $med) {
        @include font-size(56px);
        @include line-height(66px);    
    }

    @media screen and (min-width: $lg) {
        @include font-size(64px);
        @include line-height(72px); 
    }

    font-family: geomanistultra;

    &--color {
        color: $primary;
    }

    &--reverse {
        color: $light;
    }    
}

.section-heading {
    @extend %type-defaults;

    @include font-size(36px);
    @include line-height(48px); 

    @media screen and (min-width: $med) {
        @include font-size(40px);
        @include line-height(56px);      
    }

    @media screen and (min-width: $lg) {
        @include font-size(44px);
        @include line-height(64px); 
    }

    font-family: geomanistmedium;
    letter-spacing: -0.9px;

    &--color {
        color: $primary;
    }

    &--reverse {
        color: $light;
    }    
}

.group-heading {
    @extend %type-defaults;

    @include font-size(28px);
    @include line-height(40px);  

    @media screen and (min-width: $med) {
        @include font-size(34px);
        @include line-height(52px);        
    }

    @media screen and (min-width: $lg) {
        @include font-size(36px);
        @include line-height(64px); 
    }

    font-family: "Kreon", serif;
    font-weight: 400;
    letter-spacing: -0.9px;

    &--color {
        color: $primary;
    }

    &--reverse {
        color: $light;
    }      
}

.standout {
    @extend %type-defaults;

    @include font-size(20px);
    @include line-height(38px);  

    @media screen and (min-width: $med) {
        @include font-size(24px);
        @include line-height(40px);      
    }

    @media screen and (min-width: $lg) {
        @include font-size(28px);
        @include line-height(44px); 
    }

    font-family: geomanistregular;
    letter-spacing: -0.11px;

    &--accent {
        font-family: geomanistmedium;
    }

    &--color {
        color: $primary;
    }

    &--reverse {
        color: $light;
    }       
}

.copy {
    @extend %type-defaults;

    @include font-size(18px);
    @include line-height(32px);

    @media screen and (min-width: $med) {
        @include font-size(20px);
        @include line-height(38px);        
    }

    @media screen and (min-width: $lg) {
        @include font-size(24px);
        @include line-height(42px);
        padding-bottom: 12px;
        &:last-child {
            padding-bottom: 0;
        }        
    }

    font-family: geomanistregular;
    letter-spacing: -0.4px;
    padding-bottom: 9px;
    &:last-child {
        padding-bottom: 0;
    }

    &--accent {
        font-family: geomanistmedium;
    }

    &--color {
        color: $primary;
    }

    &--reverse {
        color: $light;
    }

    &--no_padding {
        padding: 0;
    }

    &--right {
        text-align: right;
    }
}

.quote-copy {
    @extend %type-defaults;

    @include font-size(22px);
    @include line-height(38px);

    @media screen and (min-width: $med) {
        @include font-size(24px);
        @include line-height(44px);    
    }

    @media screen and (min-width: $lg) {
        @include font-size(28px);
        @include line-height(52px); 
    }

    font-family: "Kreon", serif;
    font-weight: 400;
    letter-spacing: -0.9px;
    
    &--color {
        color: $primary;
    }

    &--reverse {
        color: $light;
    }    
}

.footer-link {
    @extend %type-defaults;

    @include font-size(20px);
    @include line-height(38px);  

    @media screen and (min-width: $med) {
        @include font-size(24px);
        @include line-height(40px);      
    }

    @media screen and (min-width: $lg) {
        @include font-size(28px);
        @include line-height(44px); 
    }

    color: $dark;
    font-family: geomanistmedium;
    text-decoration: none;
}

a {
    color: $primary;
    font-family: inherit;
    text-decoration: underline;
    //transition: color ease-in-out 0.1s, text-decoration ease-in-out 1s;

    &:focus {
    }
    &:hover {
        color: $primary2;
        cursor: pointer;
        text-decoration: underline;
    }
    &:active {
    }  
}

.ctr {
    text-align: center;
}