<!doctype html>
<html lang="en">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
<meta name="description" content="">
<meta name="keywords" content="">
<title>Tom Jepson Creative</title>
</head>

<body>
<section>

<h1>This is the dev site</h1>

{% for post in posts %}
    <a href="{{ dev.url | url }}">{{ dev.data.title }}</a>
{% endfor %}

    {{ content | safe }}

</section>
</body>

</html>