---
layout: base-layout.njk
---
<div class="container">
<article class="full-width blogpost">
  <h1 class="heading_no-pad">{{ title }}</h1>
  <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
  {{ content | safe }}
</article>
</div>